<ion-header>
  <ion-toolbar>
    <ion-title>Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Enter your email address</ion-label>
    <ion-input
      type="email"
      [(ngModel)]="email"
      required
      placeholder="Email Address"
    ></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="resetPassword()">Reset Password</ion-button>

  <div *ngIf="message" class="message">
    <ion-text>{{ message }}</ion-text>
  </div>
</ion-content>
