<ion-header>
  <ion-toolbar>
    <ion-title>{{ movie.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="modal-image" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ movie.overview }}</p>
      <p>Release Date: {{ movie.release_date | date:'longDate' }}</p>
      <p>Popularity: {{ movie.popularity}}</p>
      <p>Vote Average: {{movie.vote_average}}</p>
      <p>Vote Count: {{movie.vote_count}}</p>
      <ion-button expand="full" (click)="addToWishlist()">Add to Wishlist</ion-button> <!-- Button to add to wishlist -->
    </ion-card-content>
  </ion-card>
</ion-content>
